h1{
    color: #737373;     
}

p{
    // color: #8c8c8c;
    color: #737373;
}

//Color Variables
$color-white: #fff;
$color-black: #000000;

$color-primary: #5680E9;
$color-secondary: #8860D0;
$color-tertiary-1: #5AB9EA;
$color-tertiary-2: #84CEEB;
$color-tertiary-3: #C1CBE4;

$text-color: #737373;
