//Color Variables
$color-white: #fff;
$color-black: #000000;

$color-primary: #5680E9;
$color-secondary: #8860D0;
$color-tertiary-1: #5AB9EA;
$color-tertiary-2: #84CEEB;
$color-tertiary-3: #C1CBE4;

$color-grey-light: #f7f7f7;
$color-grey: #eee;

$text-color: #737373;

$font-primary: 'Cormorant Garamond', serif;
$font-secondary: 'Noto Serif JP', serif;
$font-italic: 'Dancing Script', cursive;

//media query variables

$bp-largest: 70em;      //1120px
$bp-medium: 54.375em;   //870px
$bp-mobile: 41.875em;   //670px
$bp-small: 36.69em;     //587px
