//Color Variables
$color-white: #fff;
$color-black: #000000;

$color-primary: #5680E9;
$color-secondary: #8860D0;
$color-tertiary-1: #5AB9EA;
$color-tertiary-2: #84CEEB;
$color-tertiary-3: #C1CBE4;

$text-color: #737373;
$color-grey: rgba(235, 229, 229, 0.425);

$font-primary: 'Cormorant Garamond', serif;
$font-secondary: 'Noto Serif JP', serif;
$font-italic: 'Dancing Script', cursive;
