.contact {
    
    &__img {
        position: relative;

        &--picture {
            @include img-responsive;
            border-radius: 3rem 0 0rem 3rem;
        }
    }

    &__details {
        background-color: $color-grey-light;    
        border-radius: 0 3rem 3rem 0;

        &--heading {
            text-align: center;
            margin-top: 3rem;
        }

        &--flex {
            display: flex;
            align-items: center;
            width: 55%;
            margin: 2rem auto;
        }

        &--span {
            display: flex;
            align-items: center;
            & a {
                font-size: 1.8rem;
                font-family: $font-primary;
            }
        }

        &--address {
            font-size: 2rem;
            color: $color-primary;
        }

        &--email {
            width: max-content;
            margin: 0 auto;
            display: flex;
            align-items: center;

            & a {
                font-size: 2.3rem;
            }
        }

        &--social {
            width: max-content;
            margin: 3rem auto;

            & a {
                &:not(:last-child) {
                    margin-right: 1rem;
                }
            }
        }

        &--icon {
            width: 2.5rem;
            height: 2.5rem;
            fill: red;
            margin-right: 5px;
        }
    }
}