.container {
    display: grid;
    position: relative;

    grid-template-rows: 90vh repeat(4, min-content);
    grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(8, minmax(min-content, 15rem) [col-end] ) [center-end] 
    minmax(2rem, 1fr) [full-end];
}

.about {
    grid-column: center-start / center-end;

    display: grid;
    grid-template-rows: repeat(2, min-content);
    grid-row-gap: 3rem;
}