.services {

    &__heading {
        text-align: center;
        margin-bottom: 5rem;
    }
}

.services-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-column-gap: 3rem;
    grid-row-gap: 4rem;

    // @media only screen and (max-width: $bp-small){
    //     grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));     
    // }
}