.slidepage-container {
    display: grid;
    position: relative;

    grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(8, minmax(min-content, 15rem) [col-end] ) [center-end] 
    minmax(2rem, 1fr) [full-end];
    grid-template-rows: min-content min-content min-content;
}

.slideshow {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

.slide-contact {
    grid-column: center-start / center-end;
    grid-row: 2 / 3;
}

.slide-footer {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
}