.stories {
    position: relative;
    padding: 10rem 0;
    
    &__heading {
        text-align: center;   
        color: $color-black;
    }

    &__container {
        display: grid;
        grid-template-columns: 1fr minmax(min-content, 120rem) 1fr;
        
        
    }

    &__wrapper {
        grid-column:  2 / 3;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        grid-column-gap: 3rem;
        grid-row-gap: 4rem;
    }
    &__slide {
        
    }
}