.nav{
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to right bottom, rgba($color-primary, .8), rgba($color-secondary, .65), rgba($color-tertiary-1, .7));
    width: 100%;
    padding: 1rem 5rem;
    z-index: 90;
    
    display: flex;
    align-items: center;

    &-logoBox {
        margin-right: auto;
    }

    &-logo {
        font-size: 3rem;
        color: $color-white;
        font-family: $font-italic;
        font-weight: 700;

        @media only screen and (max-width: $bp-small) {
            font-size: 2rem;
        }

        & span {
            font-family: $font-primary;
        }
    }

    &-items {
        display: flex;
        align-items: center;

        &__links {
            display: flex;
            align-items: center;

            list-style-type: none;
            margin-right: 2rem;
        }

        &__social {
            display: flex;
            align-items: center;

            & a {
                &:not(:last-child) {
                    margin-right: 2rem;

                    @media only screen and (max-width: $bp-small) {
                        margin-right: 1rem;
                    }
                }

            }
        }
    }

    &-link {
        font-size: 2rem;

        @media only screen and (max-width: $bp-small) {
            font-size: 1.6rem;
        }

        & a{
            color: $color-white;
            text-decoration: none;
            font-weight: 700;
        }
        &:not(:last-child) {
            margin-right: 4rem;
        }
    }
    &-icon {
        width: 2rem;
        height: 2rem;
        fill: $color-white;
    }
}