.story {
    width: 90%;

    @media only screen and (max-width: $bp-small) {
        width: 70%;
        margin: 0 auto;
    }

    &__shape {
        width: 60%;
        margin: 0 auto -20% 27%;

        @media only screen and (max-width: $bp-small) {
            margin: 0 auto -20% 28%;
        }
    }
    
    &__img {
        border-radius: 50%;
        width: 15rem;
        height: 15rem;
        object-fit: cover;
        display: block;
    }

    &__content {
        display: grid;
        grid-template-rows: 7rem repeat(3, 9rem);
        background-color: rgba($color: $color-white, $alpha: .5);
        border-radius: 5px;
        color: $text-color;

        &--name {
            margin-top: 1.4rem;
            grid-row: 2 / 3;
            text-align: center;
            font-size: 3rem;
            color: $color-primary;
        }

        &--text {
            grid-row: 3 / 4;
            text-align: center;
            padding: 0 3rem;
            font-size: 1.6rem;

            & span {
                font-size: 2.5rem;
                font-weight: 700;
                color: $color-primary;
            }
        }
    }
}